
<div class="container">
  <h2>Disks</h2>

  <app-error-msg
    [errorMsg]="errorMsg"
   (parentDiscard)="discard()"
  ></app-error-msg>

  <app-info-msg
    [whichActions]="whichActions"
    [showQuestion]="showQuestion"
    (parentAllowEnable)="allowEnable()"
    (parentAllowDisable)="allowDisable()"
    (parentDiscard)="discard()"
  ></app-info-msg>

  <div class="table">
    <clr-dg-action-bar>
      <div class="btn-group">
        <button type="button" class="btn  btn-secondary" (click)="editVisibility('enable')">Enable Disk</button>
        <button type="button" class="btn btn-secondary" (click)="editVisibility('disable')" >Disable Disk</button>
      </div>
    </clr-dg-action-bar>

    <clr-datagrid [(clrDgSelected)]="selectedDisks"  [clrDgRowSelection]="true">
      <clr-dg-column [clrDgField]="'id'">Id</clr-dg-column>
      <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
      <clr-dg-column [clrDgField]="'busType'">Bus</clr-dg-column>
      <clr-dg-column [clrDgField]="'blockSize'">Block Size</clr-dg-column>
      <clr-dg-column [clrDgField]="'lun'">Lun</clr-dg-column>
      <clr-dg-column [clrDgField]="'sizeInBlocks'" [clrDgColType]="'number'">Size in blocks</clr-dg-column>

      <clr-dg-row *clrDgItems="let disk of disks$ | async"
        [ngClass]="{disabled: compare(disk)}"
        [clrDgItem]="disk">
        <clr-dg-cell>{{disk.id}}</clr-dg-cell>
        <clr-dg-cell>{{disk.name}}</clr-dg-cell>
        <clr-dg-cell>{{disk.busType | busType}}</clr-dg-cell>
        <clr-dg-cell>{{disk.blockSize}}</clr-dg-cell>
        <clr-dg-cell>{{disk.lun}}</clr-dg-cell>
        <clr-dg-cell>{{disk.sizeInBlocks}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Disks per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} disks
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </div>
</div>

